langchain
langchain-groq
faiss-cpu
tiktoken
chromadb
langchain-community
langchain-openai
langchain-text-splitters
pypdf
sentence-transformers
python-dotenv
python-docs
docx2txt  
jq

#Embedding
langchain-huggingface
langchain_google_genai
langchain_experimental
rank_bm25